<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecs160.packmanager" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@drawable/package_img"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.LoginActivity"
            android:label="ShipIt" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:label=""
            android:theme="@style/AppThemeNoWindowActionBar" >
        </activity>
        <activity
            android:name=".ui.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".ui.AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:theme="@style/AppTheme" >
        </activity>

        <receiver
            android:name=".receivers.TextMessageReceiver"
            android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.AddNewPackageActivity"
            android:label="@string/title_activity_add_new_package"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
